body{
  margin: 5em;
}

header ul {
    border-bottom: solid thin black;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  list-style-type: none;
}

main{
  padding-top: 2em;
  border-bottom: solid thin black;
}

main h1 {
    border-bottom: solid thick black;
}

main h1 span {
    color: grey;
    font-style: italic;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
}

a {
    text-decoration: none;
    font-weight: bold;
}

img {
    height: 15px;
    width: 15px;
}